@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.responsive-chat-container {
  display: flex;
  height: 100%;
}

.str-chat__channel-list {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0;
  flex-shrink: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.str-chat__channel-list--open {
  width: 30%;
  position: fixed;
}

.str-chat__channel {
  flex: 1;
  min-width: 0;
}

.str-chat__main-panel {
  min-width: 0;
  flex: 1;
}

.str-chat__main-panel--thread-open {
  display: none;
}

.str-chat__thread {
  flex: 1;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.str-chat__channel-header .str-chat__header-hamburger {
  width: 30px;
  height: 38px;
  padding: var(--xxs-p);
  margin-right: var(--xs-m);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .str-chat__channel-list {
    width: 30%;
    position: initial;
    z-index: 0;
  }

  .str-chat__thread {
    position: initial;
    z-index: 0;
  }

  .str-chat__channel-header .str-chat__header-hamburger {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .str-chat__main-panel {
    min-width: 0;
  }

  .str-chat__main-panel--thread-open {
    max-width: 55%;
    display: flex;
  }

  .str-chat__thread {
    max-width: 45%;
  }
}